/*Paleta de colores:#353535 , #ffffff , #d2d7df , #bdbbb0 , #8a897c*/
@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

.animate {
  animation-name: example;
  animation-duration: 4s;
}

#body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
#main .carousel-inner img {
  max-height: 80vh;
  object-fit: cover;
  filter: grayscale(80%);
}
/*HEADER*/

#header {
  background-color: #353535;
}
#header a {
  color: #d2d7df;
}

#logo {
  max-height: 80px;
  max-width: 80px;
}

/*CAROUSEL*/
#carousel {
  position: relative; /*Para que se adapte a la pantalla*/
}

.overlay {
  position: absolute; /* Para que se adapta al caruosel*/
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

#carusel {
  max-height: 80vh;
  object-fit: cover;
  filter: sepia(30%);
  height: 400px;
  width: 400px;
  position: absolute;
  left: 500px;
}

.carrusel_img {
  height: 571px;
}
#boton-alternodos {
  border: #8a897c solid 1px;
  color: #ffffff;
}
#boton-alternodos:hover {
  background-color: #bdbbb0;
}
#boton-alernotres {
  background-color: #8a897c;
}

/*TARJETAS*/
#btn-carts {
  background-color: #353535;
  color: #ffffff;
}

.imagen {
  max-width: 100%;
  max-height: 100%;
}

.mb-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge {
  background-color: #8a897c;
}

/*SECCION EVENTOS*/

#evento-marca {
  background-color: #bdbbb0;
  color: #353535;
}

#evento-marca img {
  max-width: 100%;
}

#boton-alterno {
  color: #8a897c;
}
#boton-alterno:hover {
  color: #353535;
  background-color: #ffffff;
  border: #353535 solid 1px;
}

/*Coloboradores*/

#conviertete-en-colaborador {
  background-color: #8a897c;
  color: #353535;
}

#conviertete-en-colaborador label {
  color: #353535;
}

/*FOOTER*/

#footer {
  background-color: #353535;
}

#footer a {
  text-decoration: none;
  color: white;
}
